body {
  margin: 0;
  padding: 0;
  background: #ebebeb;
  font-family: "Comic Sans MS", cursive; }

button,
button:active,
button:focus {
  outline: none; }

header {
  background-color: #5C36E5;
  padding: 22px 20px 10px 20px;
  color: #fafafa; }
  header h3 {
    font-size: 2.3rem; }
  header h4 {
    font-size: 1.5rem;
    letter-spacing: 1px; }

#functionalBlock {
  margin: 20px 0 10px 0;
  padding: 0 30px; }
  #functionalBlock button {
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    margin: 0 5px;
    font-size: 1.2rem;
    border: none;
    border-left: 3px solid grey;
    background-color: transparent; }
    #functionalBlock button:hover {
      cursor: pointer;
      border-left: 3px solid #000; }
  #functionalBlock .red {
    color: red; }
  #functionalBlock .green {
    color: green; }
  #functionalBlock .blue {
    color: blue; }

#mainContainer {
  padding: 0 40px;
  margin-top: 20px; }
  #mainContainer h1 {
    margin-bottom: 20px; }
  #mainContainer .col ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    #mainContainer .col ul li {
      height: 100px;
      width: 200px; }
  #mainContainer .col .containers {
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border: 2px outset #79AAE5;
    border-right: none;
    padding: 8px; }
    #mainContainer .col .containers h4 {
      -webkit-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      transition: all 0.4s ease; }
    #mainContainer .col .containers h6 {
      -webkit-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      transition: all 0.4s ease; }
    #mainContainer .col .containers:hover {
      background-color: #D7D7D7;
      cursor: pointer; }
      #mainContainer .col .containers:hover h4 {
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05);
        -webkit-transform: translateX(10px);
        -ms-transform: translateX(10px);
        transform: translateX(10px); }
      #mainContainer .col .containers:hover h6 {
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05);
        -webkit-transform: translateX(10px);
        -ms-transform: translateX(10px);
        transform: translateX(10px); }

#modalWindow {
  text-align: center;
  font-size: 2rem;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto; }
  #modalWindow .col {
    color: #fafafa;
    background-color: #212529;
    margin: auto;
    position: relative;
    top: 70%;
    left: 0%;
    width: 60%;
    border: 2px outset #999;
    padding: 20px; }
  #modalWindow button {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    color: #fafafa;
    font-size: 1.6rem;
    margin: 0 10px;
    background-color: transparent; }
    #modalWindow button:hover {
      color: #212529;
      background-color: #fafafa; }
