body {
	margin: 0;
	padding: 0;
	background: rgba(235,235,235,1);
	font-family: "Comic Sans MS", cursive;
}

// 
//	Style of the header of main page
//

button, 
button:active, 
button:focus {
	outline: none;
}

header {
	background-color: #5C36E5;
	padding: 22px 20px 10px 20px;
	color: #fafafa;

	h3 {
		font-size: 2.3rem;
	}

	h4 {
		font-size: 1.5rem;
		letter-spacing: 1px;
	}
}

//
//	This style create a design of of buttons block
//	That situated under header block
//

#functionalBlock {
	width: 100%;
	margin: 20px 0 10px 0;
	padding: 0 30px;

	button {
		transition: 0.5s;
		margin: 0 5px;
		font-size: 1.2rem;
		border: none;
		border-left: 3px solid grey;
		background-color: transparent;
		
		&:hover {
			cursor: pointer;
			border-left: 3px solid #000;
		}
	}

	.red {
		color: red;
	}

	.green {
		color: green;
	}

	.blue {
		color: blue;
	}
}

//
//	Style of the main content on page
// 	It describe blocks with ideas, goals and others
// 

#mainContainer {
	padding: 0 40px;
	margin-top: 20px;

	h1 {
		margin-bottom: 20px;
	}
	.col {
		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				height: 100px;
				width: 200px;
			}
		}

		.containers { 
			transition: all 0.5s ease; 
			border: 2px outset #79AAE5;
			border-right: none;

			padding: 8px;
			
			h4 {
				transition: all 0.4s ease; 
			}
			h6 {
				transition: all 0.4s ease; 
			}

			&:hover {
				background-color: #D7D7D7;
				cursor: pointer;

				h4 {
					transform: scale(1.05);
					transform: translateX(10px);
				}

				h6 {
					transform: scale(1.05);
					transform: translateX(10px);
				}
			}
		}
	}
}

// 
//	Description of the modal window
// 

#modalWindow {
	text-align: center; 
	font-size: 2rem;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	overflow: auto;
	
	.col {
		color: #fafafa;
		background-color: #212529;
		margin: auto;
		position: relative;
		top: 70%;
		left: 0%;
		width: 60%;
		border: 2px outset #999;
		padding: 20px;
	}
	button {
		transition: 0.3s;
		color: #fafafa;
		font-size: 1.6rem;
		margin: 0 10px;
		padding: 0;
		background-color: transparent;

		&:hover {
			color: #212529;
			background-color:#fafafa;
		}
	}		
}

#animateArticle {

	display: inline-block;
	opacity: 1;
	max-height: 400px;
	padding-right: 200px;
    overflow: hidden;
    margin-right: 500px;
	transition: all 0.5s ease-out 0s;
	margin: 30px 0 0px 0px;
	padding: 20px;
	box-shadow: -2px 1px 2px #5C36E5;
	border-radius: 30px;
}

